@import "main";

.section-menu {
  width: 327px;
  margin: auto;
  margin-top: -30px;
  .center{
    text-align: center;
}
  &__item {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    box-sizing: border-box;
    border-radius: 8px;
    margin: auto;
    padding: 25px;
    margin-bottom: 25px;
    .logo{
      margin-top: -50px;
    }
    .numbers {
      .progress-bar {
        box-sizing: content-box;
        height: 12px;
        position: relative;
        margin: 60px 0 20px 0;
        background: #2f2f2f11;
        border-radius: 33.5px;
        box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
        span {
          display: block;
          width: 218.27px;
          height: 12px;
          border-radius: 33.5px;
          background-color: $moderateCyan;
          position: relative;
          overflow: hidden;
        }
      }
      h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
      }
    }
    hr {
      width: 80px;
      margin: 25px auto;
      background: $black;
      mix-blend-mode: normal;
      opacity: 0.15;
    }
    .group-btn {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
.about {
  text-align: left;
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $darkGray;
  .section-menu__item {
    margin-top: 35px;
    .bold {
      font-family: "Commissioner";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
    }
    .hightlight {
      color: $moderateCyan;
    }
    .numbers {
      font-family: "Commissioner";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      color: $black;
      span {
        font-weight: 400;
        font-size: 15px;
        font-style: normal;
        line-height: 18px;
        color: $darkGray;
      }
    }
  }
}
.group-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn-active {
    background: $moderateCyan;
    border-radius: 33.5px;
    border: none;
    color: $white;
    padding: 18px 42px;
    margin: 24px auto;
  }
  .btn-disable {
    border-radius: 33.5px;
    border: 1px solid $darkGray;
    background: $white;
    padding: 18px 42px;
    margin: 24px  24px  24px 0;

  }
  .disable{
    opacity: 0.5;
  }