.m-t-24 {
    margin-top: 24px;
}

.margin-top-l {
    margin-top: 40px;
}

.mb-s {
    margin-bottom: 15px;
}

.center {
    text-align: center;
}

.flex-box {
    margin: 10px auto;

    @media (min-width: 600px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.hightlight {
    color: $moderateCyan;
}