.group-btn {
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;

}

//placeholder selector
%btn {
  padding: 18px 40px;
  text-align: center;
  font-weight: 700;
  border-radius: 33.5px;
  &:disabled{
    background-color: $darkGray;
    &:hover{
      background-color: $darkGray;
    }
  }
  .selected-pledge &{
    padding: 15px 25px;
  }
}

.btn-active {
  @extend %btn;
  background: $moderateCyan;
  border: none;
  color: $white;
  .section-menu__item &{
    padding: 15px 26px;
  }
  .section-menu__item__header &{
    padding: 18px 42px;
  }

  &:hover {
    background: $darkCyan;
  }
}

.btn-disable {
  @extend %btn;
  padding: 15px 25px;
  color: $black;
  border: 1px solid $darkGray;
  background: $white;

  @media (min-width: 768px) {
    padding: 1.125rem 2.25rem;
  }
  .pledge-holder{
    display: flex;
  }
  span{
    color: $black;
    opacity: 0.35;
  }

}

//bookmarks btn
.bookmark {

  @media (min-width: 600px) {
    width: 174px;
    background: $background;
    mix-blend-mode: normal;
    border-radius: 33.5px;
    display: flex;
    align-items: center;
    padding: 1px;
    gap: 10px;

    &:hover {
      background: rgba(20, 123, 116, 0.05);
      color: $white;
    }

    &:hover>p {
      color: $darkCyan;
    }

    &:hover>svg>g>circle {
      fill: $darkCyan;
    }

    &:hover>svg>g>path {
      fill: $white;
    }
  }

  p {
    display: none;

    @media (min-width: 600px) {
      display: block;
      font-weight: 700;
    }

  }
}