.modal {
  display: none;
  position: relative;

  &__content {
    width: clamp(337px, 90%, 730px);
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    background-color: $white;
    border: 1px solid $gray;
    box-sizing: border-box;
    border-radius: 8px;
    margin: auto;
    padding: 25px;
    margin-bottom: 25px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__box {
      background: #ffffff;
      border: 1px solid $gray;
      box-sizing: border-box;
      border-radius: 8px;
      margin: auto;
      padding: 25px;
      margin: 25px auto;
      position: relative;
    }
  }
}

.modal__success {
  @extend .modal__content;
  display: none;
  text-align: center;
  width: clamp(17.4375rem, 31.25rem, 60%);
  margin-top: 30%;

  h1 {
    margin: 10% 0;
  }
}

.modal__content .numbers {
  font-weight: 700;
  color: $black;

  @media (min-width: 900px) {
    position: absolute;
    top: 10%;
    right: 30px;
  }

  span {
    font-weight: normal;
    color: $darkGray;
  }
}