.modal {
  display: none;
  position: relative;

  &__content {
    width: clamp(337px, 90%, 730px);
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    background-color: $white;
    border: 1px solid $gray;
    box-sizing: border-box;
    border-radius: 8px;
    margin: auto;
    padding: 25px;
    margin-bottom: 25px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__box {
      max-width: 634px;
      background: #ffffff;
      border: 1px solid $gray;
      box-sizing: border-box;
      border-radius: 8px;
      margin: auto;
      padding: 25px;
      margin: 25px auto;
      position: relative;

    }
  }
}

.modal__success {
  @extend .modal__content;
  display: none;
  text-align: center;
  width: clamp(327px, 50%, 540px );
  margin-top: 20%;
  h1 {
    margin: 10% 0;
  }
  
  @media (min-width: 600px) {
    p{
      line-height: 30px;
    }
  }
}

.modal__content .numbers {
  font-weight: 700;
  @media (min-width: 900px) {
    font-size: 18px;
    position: absolute;
    top: 12%;
    right: 30px;
  }

}