.modal {
  display: none;
  position: relative;

  &__content {
    width: clamp(337px, 90%, 730px);
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    background-color: $white;
    border: 1px solid $gray;
    box-sizing: border-box;
    border-radius: 8px;
    margin: auto;
    padding: 25px;
    margin-bottom: 25px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__box {
      max-width: 634px;
      background: #ffffff;
      border: 1px solid $gray;
      box-sizing: border-box;
      border-radius: 8px;
      margin: auto;
      padding: 25px;
      margin: 25px auto;
      position: relative;
      .m-left{
        @media (min-width: 768px) {
          margin-left: 40px;
        }
      }
    }
  }
}

.modal__success {
  @extend .modal__content;
  display: none;
  text-align: center;
  width: clamp(327px, 50%, 540px);

  h1 {
    margin: 10% 0;
  }

  @media (min-width: 768px) {
    p {
      line-height: 30px;
    }
  }
}

.modal__content .numbers__desktop {
  display: none;

  span {
    color: $darkGray;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }

  @media (min-width: 768px) {
    font-weight: 700;
    color: $black;
    margin-left: auto;
    display: block;
  }

}

.modal__content .numbers {
  @media (min-width: 768px) {
    display: none;
  }
}