.selected-pledge {
    display: none;
    hr{
        height: 1px;
        color: $black;
        mix-blend-mode: normal;
        opacity: 0.15;
        margin-top: 32px;
    }
    &__content{

        @media (min-width: 600px) {
            
              display: flex;
              align-items: center;
              justify-content: space-between;
        } 
        p{
            @media (min-width: 600px) {
                margin-top: 24px;
          }  
        }
    }
  }
