
.hero {
  background-image: url(../../assets/img/image-hero-mobile.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (min-width: 768px) {
    background-image: url(../../assets/img/image-hero-desktop.jpg);
    max-height: 400px;
  }
}
