
.section-menu {
  width: 90%;
  margin: auto;
  margin-top: -30px;

  @media (min-width: 600px) {
    width: 60%;
    max-width: 730px
  }

  &__item {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    box-sizing: border-box;
    border-radius: 8px;
    margin: auto;
    padding: 25px;
    margin-bottom: 25px;

    }
    

  }

.about {
  text-align: left;
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $darkGray;
  .section-menu__item {
    margin-top: 35px;
    .bold {
      font-family: "Commissioner";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: $black;
    }
    .hightlight {
      color: $moderateCyan;
    }
    .numbers {
      font-family: "Commissioner";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      color: $black;
      span {
        font-weight: 400;
        font-size: 15px;
        font-style: normal;
        line-height: 18px;
        color: $darkGray;
        margin-left: 8px;
      }
    }
  }
}
.logo {
  margin-top: -50px;
}
.numbers {
  margin-top: 24px;
  h1 {
    font-size: 32px;
    line-height: 39px;
  }
}
.progress-bar {
  box-sizing: content-box;
  height: 12px;
  position: relative;
  margin: 60px 0 20px 0;
  background: #2f2f2f11;
  border-radius: 33.5px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  span {
    display: block;
    width: 218.27px;
    height: 12px;
    border-radius: 33.5px;
    background-color: $moderateCyan;
    position: relative;
    overflow: hidden;
  }
}
.line{
  height: 1px;
  width: 80px;
  background: $black;
  mix-blend-mode: normal;
  opacity: 0.15;
  margin: 25px auto;
  @media (min-width: 600px) {
    height: 53px;
    width: 1px;
    margin: 0;
  }
}


