.section-menu {
  width: clamp(337px, 90%, 730px);
  margin: auto;
  margin-top: -30px;
  &__item {
    background: $white;
    border: 1px solid $gray;
    box-sizing: border-box;
    border-radius: 8px;
    margin: auto;
    padding: 25px;
    margin-bottom: 25px;
    &__inside{
      @extend .section-menu__item;
      @media (min-width: 768px) {
        padding: 32px !important;
      }
    }
    @media (min-width: 768px) {
      padding: 48px;
    }
    &__header{
      .group-btn{
        @media (min-width: 768px) {
          justify-content: space-between;
          max-width: 90%;
          margin: auto;
        }
      }
    }
    &__header-text{
      max-width: clamp(279px, 85%, 507px);
      margin: auto;
    }
  }
}

.about {
  text-align: left;
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $darkGray;
  h2{
    margin-top: 40px;
    margin-bottom: 25px;
  }
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 30;
    h2{
      margin-bottom: 35px;
    }
  }
}

.logo {
  margin-top: -50px;
}
.container-backed{
  margin: 10px auto;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.number {
  margin-top: 24px;
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: $black;
  margin: 0 48px 0 50px ;
  &:first-child{
    @media (min-width: 768px) {
      margin: 0 48px 0 0;
    }

  }
  span {
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    line-height: 18px;
    color: $darkGray;
    margin-left: 8px;
  }

  @media (min-width: 768px) {
    justify-self: start;
  }

  h1 {
    font-size: 32px;
    line-height: 39px;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.progress-bar {
  height: 12px;
  margin: 32px 0 20px 0;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  width: clamp(280px, 100%, 634px);
}
progress {
  background-color: $white;
}
progress::-webkit-progress-bar {
  background-color: $background;
  border-radius: 20px;
}
progress::-webkit-progress-value {
  background-color: $moderateCyan;
  border-radius: 20px;
}
progress::-moz-progress-bar {
  background-color: $background;
}

.line {
  height: 1px;
  width: 5rem;
  background: $background;
  mix-blend-mode: normal;
  margin: 24px auto;

  @media (min-width: 768px) {
    height: 3rem;
    width: 1px;
    margin: 0;
  }
}
.numbers {

  display: flex;
  align-items: center;
  margin-top: 24px;
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: $black;

  span {
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    line-height: 18px;
    color: $darkGray;
    margin-left: 8px;
  }

  @media (min-width: 768px) {
    justify-self: start;
    
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}