
.hero {
  background-image: url(../../assets/images/image-hero-mobile.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @media (min-width: 600px) {
    background-image: url(../../assets/images/image-hero-desktop.jpg);
    max-height: 400px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 35px 25px;
    #close {
      display: none;
  
    }
    #open {
      @media (min-width: 600px) {
        display: none;
      }
    }
    #overlay {
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      
      cursor: pointer;
    }
    #links {
      background: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.0497193);
      box-sizing: border-box;
      border-radius: 8px;
      width: 327px;
      position: absolute;
      top: 30%;
      left: 50%;
      font-size: 50px;
      color: white;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);

      a {
        font-family: "Commissioner";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: $black;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 24px;
      }
      hr {
        background: #2f2f2f;
        mix-blend-mode: normal;
        opacity: 0.1;

      }
    }
    .links-desktop {
      display: none;
      hr{
        display: none;
      }
      a{
        font-family: "Commissioner";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: $white;
        text-decoration: none;
        display: flex;
        align-items: right;
        margin: 24px 24px 0 24px;
        &:hover{
          border-bottom: 0.7px solid $white;
        }
      }
      @media (min-width: 600px) {
        display: flex;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: $white;

      }
      
    }
    a.icon{
      @media (min-width: 600px) {
        display: none;
      }
    }
  }
}
